Projecto_ISI/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRefeicao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Refeicao" nillable="true" type="tns:Refeicao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRefeicao" nillable="true" type="tns:ArrayOfRefeicao" />
  <xs:complexType name="Refeicao">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calorias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Item" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restaurante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Refeicao" nillable="true" type="tns:Refeicao" />
  <xs:complexType name="ArrayOfCalorias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Calorias" nillable="true" type="tns:Calorias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalorias" nillable="true" type="tns:ArrayOfCalorias" />
  <xs:complexType name="Calorias">
    <xs:sequence>
      <xs:element minOccurs="0" name="caloriasTotal" type="xs:double" />
      <xs:element minOccurs="0" name="maisMeio" type="xs:double" />
      <xs:element minOccurs="0" name="maisUm" type="xs:double" />
      <xs:element minOccurs="0" name="menosMeio" type="xs:double" />
      <xs:element minOccurs="0" name="menosUm" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Calorias" nillable="true" type="tns:Calorias" />
</xs:schema>