Projecto_ISI/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://projectoisi.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
  <xs:element name="GetRefeicoes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRefeicoesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="GetRefeicoesResult" nillable="true" type="q1:ArrayOfRefeicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRefeicao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="refeicao" nillable="true" type="q2:Refeicao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRefeicaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculadoraPesoIdeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculadoraPesoIdealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculadoraPesoIdealResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculadoraCalorias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idade" type="xs:int" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="altura" type="xs:double" />
        <xs:element minOccurs="0" name="peso" type="xs:double" />
        <xs:element minOccurs="0" name="actividade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculadoraCaloriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="CalculadoraCaloriasResult" nillable="true" type="q3:ArrayOfCalorias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>