Projecto_ISI/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://projectoisi.apphb.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://projectoisi.apphb.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://projectoisi.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetRefeicoes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicoes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRefeicoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRefeicoesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRefeicao_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRefeicao" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRefeicao_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRefeicaoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculadoraPesoIdeal_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculadoraPesoIdeal" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculadoraPesoIdeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculadoraPesoIdealResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculadoraCalorias_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculadoraCalorias" />
  </wsdl:message>
  <wsdl:message name="IService1_CalculadoraCalorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculadoraCaloriasResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetRefeicoes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRefeicoes" message="tns:IService1_GetRefeicoes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRefeicoesResponse" message="tns:IService1_GetRefeicoes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRefeicao">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRefeicao" message="tns:IService1_AddRefeicao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRefeicaoResponse" message="tns:IService1_AddRefeicao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculadoraPesoIdeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalculadoraPesoIdeal" message="tns:IService1_CalculadoraPesoIdeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculadoraPesoIdealResponse" message="tns:IService1_CalculadoraPesoIdeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculadoraCalorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CalculadoraCalorias" message="tns:IService1_CalculadoraCalorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CalculadoraCaloriasResponse" message="tns:IService1_CalculadoraCalorias_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRefeicoes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRefeicoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRefeicao">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRefeicao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculadoraPesoIdeal">
      <soap:operation soapAction="http://tempuri.org/IService1/CalculadoraPesoIdeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculadoraCalorias">
      <soap:operation soapAction="http://tempuri.org/IService1/CalculadoraCalorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://projectoisi.apphb.com/Service1.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>